// this is a partial for the page

.profile{
  margin: 0 auto;
  width: 800px;
  height: 100%;

  img{
    border-radius: 999px;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
  }
}
